body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  background-color: var(--a-color-white);
  color: var(--ptimary-text-color);
}

.list {
  list-style: none;
  text-decoration: dashed;
}
