:root {
  --title-text-color: #212121;
  --ptimary-text-color: #757575;
  --accent-color: #2196f3;
  --a-color-black: #000000;
  --a-color-white: #ffffff;
  --team-bg-color: #f5f4fa;
  --button-hov-foc-color: #188ce8;
  --button-color-white: #ffffff;
  --btn-bgc-portfolio: #f5f4fa;
  --footer-hero-background-color: #2f303a;
  --hero-bg-color: #c4c4c4;
  --footer-color-contact: rgba(255, 255, 255, 0.6);
  --border-color-portfolio: #eeeeee;
  --background-svg-color: #f5f4fa;
  --customers-color: #afb1b8;
  --invitation-bg-color: rgba(255, 255, 255, 0.1);
  --invitation-icon-color: #ffffff;
}
